fastapi
uvicorn
pydantic
pandas
scikit-learn

transformers==4.36.2
sentence-transformers

faiss-cpu

spacy
keybert

openai-whisper

torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
