numpy==1.26.4

fastapi
uvicorn
pydantic
pandas
scikit-learn

transformers==4.36.2
sentence-transformers==2.2.2
huggingface-hub==0.14.1

faiss-cpu

spacy
keybert

openai-whisper

torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
